body {
  background: #fff;
}

.mobile-nav a {
  color: white;
  text-transform: uppercase;
  font-family: 'avenir', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 5px;
  position: relative;
}
.mobile-nav a::before, .mobile-nav a::after {
  content: '';
  background: white;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 0;
}
.mobile-nav a::before {
  left: 0;
}
.mobile-nav a::after {
  right: 0;
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
}
.mobile-nav a:hover::before {
  width: 100%;
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
}
.mobile-nav a:hover::after {
  width: 100%;
  background: transparent;
  -webkit-transition: 0;
  transition: 0;
}

#menuArea {
  display: block;
}

input {
  display: none;
}

.open {
  background-color: #000;
  width: 24px;
  height: 2px;
  display: block;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: "";
  background-color: #000;
  width: 24px;
  height: 2px;
  display: block;
  position: relative;
  top: -6px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  delay: 0.3s ease;
}

.open:after {
  content: "";
  background-color: #000;
  width: 24px;
  height: 2px;
  display: block;
  position: relative;
  top: 4px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
}

.menuOpen:hover .open:before {
  top: -8px;
}

.menuOpen:hover .open:after {
  top: 6px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1b1b1c;
  z-index: 1;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu .menuEffects .menuContent ul li a {
  display: block;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 5;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
